@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
}

aside {
    position: relative;
    width: 30%;
    background-color: #1F1F23;
    color: white;
    padding: 2em 1em;    
}

.char-avatar {
    text-align: center;
    margin-bottom: 1em;
}

.char-info {
    display: flex;
    flex-direction: column;
}

.char-name {
   text-align: center;
   font-size: 2.5em; 
   margin-bottom: 1rem;
}

.class-race {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.char-stats {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.char-gold {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

main {
    position: relative;
    background-color: #B7B7B7;
    width: 70%;
    padding: 2em;
    display: grid;
    grid-template-areas: 
        "table stats"
        "weapons weapons"
        "armor items"
    ;
    column-gap: 2em;
}

.att-table {
    grid-area: table;
    font-size: 1.5em;
    color: #1F1F23;
    border: 3px solid #1F1F23;
    padding: 1rem 0;
    text-align: center;
    border-radius: 10px;
}

/* .att-table th {
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid #1F1F23;
    padding-right: 0.5em;
} */

.att-table td, .att-table th {
    padding: 0 1rem;
}

.info-stats {
    grid-area: stats;
    font-size: 1.5em;
}

.info-stats div {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background-color: #1F1F23;
}

.weapons-info {
    grid-area: weapons;
}

.armor-info {
    grid-area: armor;
}

.items-info {
    grid-area: items;
}

.div-head {
    display: grid;
    align-items: center;
    border-bottom: 3px solid #1F1F23;
    font-size: 1.5em;
    grid-template-areas: "p img";
}

.div-head img {
    justify-self: flex-end;
    height: 1.5em;
    width: auto;
    cursor: pointer;
}


.info-content {
    margin: 1rem;
    height: 0;
    overflow: hidden;
}

.rotate-button {
    transform: rotate(180deg);
}

.open-section {
    height: fit-content;
}